DOMAIN_NAME=<login>.42.fr

# Database name
DB_NAME=

# Database Root password
DB_ROOT=

# Database Username
DB_USER=

# Database Password
DB_PASS=

# Database hostname (fixed)
DB_HOST=mariadb

# Wordpress website title
WP_TITLE=

# Wordpress Administrator E-Mail
ADM_WP_EMAIL=

# Wordpress Administrator Username
ADM_WP_NAME=

# Wordpress Administrator Password
ADM_WP_PASS=

# Wordpress Subscriber E-Mail
WP_USEREMAIL=

# Wordpress Subscriber Username
WP_USERNAME=

# Wordpress Subscriber Password
WP_USERPASS=

# Wordpress Hostname
WP_HOST=<login>.42.fr

# FTP Username
FTP_USR=

# FTP Password
FTP_PWD=
